@font-face {
  font-family: "Noto Sans SC Launchpad";
  src: url("./assets/fonts/noto-sans-sc/NotoSansSC-Variable.ttf")
    format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: "Maple Launchpad Mono";
  src: url("./assets/fonts/maple/terminal/MapleMonoNL-NF-CN-Regular.ttf")
    format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Maple Launchpad Mono";
  src: url("./assets/fonts/maple/terminal/MapleMonoNL-NF-CN-Medium.ttf")
    format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Maple Launchpad Mono";
  src: url("./assets/fonts/maple/terminal/MapleMonoNL-NF-CN-SemiBold.ttf")
    format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Maple Launchpad Mono";
  src: url("./assets/fonts/maple/terminal/MapleMonoNL-NF-CN-Bold.ttf")
    format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
